<!doctype html>
<html lang="ja">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static', filename='../styles/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='../styles/bootstrap.min.css')}}">
    <script src="../scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
        Hello World
    </div>
    <script src="../scripts/index.js"></script>
</body>